* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    --darkColor: #001220;
    --lightColor: #FBAE3C;
    --lightTransparent: #fbaf3c66;
}

.target-color {
    fill: var(--lightColor);
    transition: 0.5s;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--darkColor);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--lightColor);
    border-radius: 6px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    background-color: var(--darkColor);
    cursor: default;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.t-center {
    text-align: center;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    padding: 10px;
    border-bottom: 2px #06263f solid;
    color: white;
    position: sticky;
    top: 0;
    background-color: var(--darkColor);
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

.menu {
    display: flex;
    gap: 40px;
    background-color: var(--darkColor);
}

.menu li {
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 5px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

.menu li:hover {
    color: var(--lightColor);
}

.menu li:hover .anim-line {
    width: 100%;
}

.anim-line {
    height: 3px;
    width: 0%;
    margin-top: 5px;
    border-radius: 5px;
    transition: 0.3s;
    background-color: var(--lightColor);
}

#menu-bar {
    display: none;
    cursor: pointer;
    padding: 5px;
    transition: 0.5s;
}

.home,
.about,
.services,
.projects,
.contact {
    height: unset;
    padding: 6% 10px;
    gap: 40px;
}

.col {
    width: 45%;
}

.color-diff {
    color: var(--lightColor);
    transition: 0.5s;
}

.heading1 {
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;
}

.heading2 {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.mini-heading1 {
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: 20px 0;
}

.mini-heading2 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: 10px 0;
}

.pera1 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
    margin-bottom: 20px;
}

.button1 {
    margin-top: 20px;
    font-size: 28px;
    background-color: var(--lightColor);
    box-shadow: 0 0 24px var(--lightTransparent);
    cursor: pointer;
    color: white;
    font-weight: 600;
    padding: 15px 15px;
    border-radius: 40px;
    text-align: center;
    transition: 0.5s;
}

.anim-icon {
    padding-left: 5px;
    transition: 0.5s;
}

.button1:hover .anim-icon {
    padding-left: 20px;
}

.blob {
    border-radius: 20px;
    width: 100%;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000" fill="%23FFFFFF"><path d="M994 112c-703-2-920.47 400.35-904 905 13.35 409 32.03 946.66 977 861 684-62 792-279 835-777 61.67-714.25-288.33-987.24-908-989Z"></path></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.blob svg {
    width: 100%;
    transition: 0.5s;
    transform: scale(0.9, 0.9);
}

.home:hover svg {
    transform: scale(1.05, 1.05) translateY(-20px);
}

.blob2 {
    border-radius: 20px;
    width: 100%;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000" fill="%23FFFFFF"><path d="M994 112c-703-2-920.47 400.35-904 905 13.35 409 32.03 946.66 977 861 684-62 792-279 835-777 61.67-714.25-288.33-987.24-908-989Z"></path></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.blob2 svg {
    width: 100%;
    transform: scale(0.6, 0.6);
    transition: 0.5s;
}

.about:hover svg {
    transform: scale(0.65, 0.65) translateY(-30px) translateX(30px);
}

.card-container {
    height: 60%;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    box-sizing: border-box;
    background-color: #06263f;
    border: 0px var(--lightColor) solid;
    box-shadow: 0 0 0px var(--lightTransparent);
    border-radius: 30px;
    height: 100%;
    width: 30%;
    padding: 20px;
}

.card:hover {
    transition: 0.3s;
    border: 1px var(--lightColor) solid;
    box-shadow: 0 0 20px var(--lightTransparent);
}

.big-card-icon {
    color: var(--lightColor);
    text-align: center;
}

.heading3 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.pera2 {
    color: white;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
}

.button2 {
    margin-top: 20px;
    font-size: 20px;
    background-color: var(--lightColor);
    box-shadow: 0 0 24px var(--lightTransparent);
    cursor: pointer;
    color: white;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 40px;
    text-align: center;
    transition: 0.5s;
}

.card-pro-container {
    height: 55%;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
}

.card-pro {
    box-sizing: border-box;
    background-color: #06263f;
    border: 2px var(--lightColor) solid;
    border-radius: 20px;
    /* padding: 20px; */
    height: 50%;
    cursor: pointer;
    width: 32%;
    overflow: hidden;
    position: relative;
}

.project-content{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--darkColor);
    padding: 20px;
    clip-path: circle(0% at 0% 0%);
    transition: 0.5s;
}

.card-pro img {
    width: 100%;
}

.card-pro:hover .project-content{
    clip-path: circle(100%);
}

.contact:hover svg {
    transform: scale(1.1, 1.1) translateY(-30px);
}

.form {
    width: 100%;
}

.form-input {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    font-size: 18px;
    padding: 20px 30px;
    background-color: #06263f;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
}

::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.form-input:focus {
    border: 2px var(--lightColor) solid;
}

.mini-heading3 {
    font-size: 28px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.button3 {
    width: 80%;
    margin-top: 20px;
    font-size: 20px;
    background-color: var(--lightColor);
    box-shadow: 0 0 20px var(--lightTransparent);
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}

.social-links-container {
    background-color: #06263f;
    color: white;
    font-size: 40px;
    font-weight: 600;
    padding: 15px 0;
}