@media only screen and (min-width:0px) and (max-width:767px) {

    .heading1 {
        font-size: 30px;
    }

    .heading2 {
        font-size: 30px;
    }

    .heading3 {
        font-size: 20px;
    }

    .button1 {
        font-size: 20px;
        border-radius: 25px;
    }

    .button2{
        font-size: 18px;
        padding: 10px 40px;
    }

    .pera2 {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .mini-heading1 {
        font-size: 20px;
    }

    .mini-heading3 {
        font-size: 18px;
        margin-bottom: unset;
    }

    .form-input{
        font-size: 16px;
    }

    .container {
        padding: 0 10px;
    }

    .card-pro-container{
        flex-direction: column;
        justify-content: unset;
    }

    .card-pro {
        width: 100%;
        height: 40%;
    }

    .desktop-only {
        display: none;
    }

    .menu {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        width: 40%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px var(--lightTransparent);
    }

    #menu-bar {
        display: block;
    }

    .home {
        flex-direction: column;
        justify-content: space-evenly;
        /* height: 95vh; */
        height: unset;
        padding: 10px;
        padding-bottom: 40px;
        gap: 30px;
    }

    .about {
        flex-direction: column;
        justify-content: space-evenly;
        height: unset;
        padding: 10px;
        padding-bottom: 40px;
        gap: 20px;
    }

    .services,
    .projects,
    .contact{
        height: unset;
        padding: 10px;
        padding-bottom: 40px;
        gap: 20px;
    }

    .col {
        width: 100%;
    }

    .card-container {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        height: 80%;
    }

    .card {
        width: 90%;
        height: unset;
        padding: 10px;
    }

    #customer_service{

        display: none;
    }

    .form{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .form-input{
        width: 100%;
        padding: 20px;
    }

    .button3 {
        width: 100%;
    }

}

@media only screen and (min-width:768px) and (max-width:1295px) {

    .heading1 {
        font-size: 50px;
    }

    .mini-heading1 {
        font-size: 30px;
    }

    .button1 {
        font-size: 22px;
        border-radius: 30px;
    }

    .card-pro {
        width: 48%;
    }

    .desktop-only {
        display: none;
    }

}

@media only screen and (min-width:768px) and (max-width:1420px) {

    .container {
        padding: 0 20px;
    }
}

/* @media only screen and (min-width:768px){
    .home,
    .about,
    .services,
    .projects,
    .contact{
        height: unset;
        padding: 6% 10px;
        gap: 40px;
    }
} */